body {
  font-family: "Arial", sans-serif;
  background-color: #222;
  color: #fff;
  margin: 0;
  padding: 0;
}

.contenedor {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #333;
  border-radius: 5px;
}

h1 {
  text-align: center;
  color: #fff;
}

.contenedor-busqueda {
  margin-bottom: 20px;
}

#input-busqueda {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.botones-orden {
  text-align: center;
  margin-bottom: 20px;
}

.botones-orden button {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  margin-right: 10px;
}

.botones-orden button:last-child {
  margin-right: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #555;
  margin-bottom: 10px;
  border-radius: 5px;
}

.bandera {
  width: 25%;
  margin-right: 10px;
}

.info-pais {
  flex-grow: 1;
}

.info-pais h3 {
  margin: 0;
  color: #ffd700;
}

.info-pais p:nth-child(2n) {
  color: #36045f;
}

.info-pais p:nth-child(2n + 1) {
  color: #00bfff;
}
